  
  body {
   line-height: 1.5;
   font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
   font-weight: normal;
   color: rgba(0, 0, 0, 0.87);
  }
  
  .fixed-announcement {
   position: relative;
   height: 48px;
   width: 100%;
   z-index: 999;
  }
  
  .fixed-announcement .announcement {
   position: absolute;
   height: inherit;
   width: inherit;
   background-color: rgb(92, 87, 87);
  }
  
  
  
  header a:focus, a:hover {
   color:white;
   text-decoration: none;
  }

  nav ul a, nav .brand-logo {
    color: #444;
  }
  
 /* nav.nav-extended {
    background: #d50000;
  

  }
  .nav-wrapper{
    background:#d50000 ;
    background: #524763; 
  }*/

.page-footer {
    padding-top: 20px;
    color: black;
    background-color: #ee6e73;
    
}

#chart-dashboard {
  padding-top: 12px;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}