<template name="Footer_NewVersion">
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l4 s12">
                    <h5 class="white-text">Help Agnus CRM Grow</h5>
                      <p class="grey-text text-lighten-4">We hope you have enjoyed using Agnus CRM! If you feel Agnus CRM has helped you out and want to support the team, send us over a donation! Any amount would help support and continue development on this project and is greatly appreciated.</p>
                      <a class="btn">Donate Now</a>
          
                    </div>
                    <div class="col l4 s12">
                      <h5 class="white-text">Join the Discussion</h5>
                      <p class="grey-text text-lighten-4">We have a Gitter chat room set up where you can talk directly with us. Come in and discuss new features, future goals, general problems or questions, or anything else you can think of.</p>
                      <a class="btn">Chat</a>
                      
                    </div>
                    <div class="col l4 s12" style="overflow: hidden;">
                      <h5 class="white-text">Connect</h5>
                      <iframe src="http://ghbtns.com/github-btn.html?user=gmahota&amp;repo=AGNUS_CRM&amp;type=watch&amp;count=true&amp;size=large" allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
                      <br>
                      
                    </div>
                  </div>
                </div>
                <div class="footer-copyright">
                  <div class="container">
                  © 2017 Guimarães Mahota, All rights reserved.
                  <a class="grey-text text-lighten-4 right" href="https://github.com/gmahota/AGNUS_CRM/LICENSE.md">MIT License</a>
                  </div>
                </div>
              </footer>
</template>

<template name="Footer">
  <footer class="page-footer">
      <div class="container">
          <div class="row">
              <div class="col l4 s12">
                  <h5 class="white-text">Help Agnus CRM Grow</h5>
                    <p class="grey-text text-lighten-4">We hope you have enjoyed using Agnus CRM! If you feel Agnus CRM has helped you out and want to support the team, send us over a donation! Any amount would help support and continue development on this project and is greatly appreciated.</p>
                    <a class="btn">Donate Now</a>
        
                  </div>
                  <div class="col l4 s12">
                    <h5 class="white-text">Join the Discussion</h5>
                    <p class="grey-text text-lighten-4">We have a Gitter chat room set up where you can talk directly with us. Come in and discuss new features, future goals, general problems or questions, or anything else you can think of.</p>
                    <a class="btn">Chat</a>
                    
                  </div>
                  <div class="col l4 s12" style="overflow: hidden;">
                    <h5 class="white-text">Connect</h5>
                    <iframe src="http://ghbtns.com/github-btn.html?user=gmahota&amp;repo=AGNUS_CRM&amp;type=watch&amp;count=true&amp;size=large" allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
                    <br>
                    
                  </div>
                </div>
              </div>
              <div class="footer-copyright">
                <div class="container">
                © 2017 Guimarães Mahota, All rights reserved.
                <a class="grey-text text-lighten-4 right" href="https://github.com/gmahota/AGNUS_CRM/LICENSE.md">MIT License</a>
                </div>
              </div>
            </footer>
</template>