<template name="header">
    <div class="header">
        <div class="container">
            <div class="row">
                {{#if currentUser}}
                    {{#if isInRole 'superAdmin'}}
                    <div class="six columns">
                        <p class="u-full-width">
                            <a href="/" class="header-text">
                                <a href="/" class="header-text">
                                    <img class="minerva-logo" src="/minerva-school.svg" height="30" alt="minerva for school">
                                </a>
                            </a>
                        </p>
                    </div>
                    {{else}}
                        <div class="six columns">
                            <p class="u-full-width">
                                <a href="/" class="header-text">
                                    <!-- {{#if schoolLogoExists}}
                                        {{#with FS.GetFile "schoolImages" schoolLogo}}
                                            <img class="school-logo" src="{{url}}" height="30" alt="school logo">
                                        {{/with}}
                                    {{/if}} -->
                                    <img class="minerva-logo" src="/logo.png" height="30" alt="school logo">
                                    <span>{{schoolName}}</span>
                                </a>
                            </p>
                        </div>
                    {{/if}}
                {{else}}
                    <div class="twelve columns">
                        <p class="u-full-width centered-text">
                            <a href="/" class="header-text">
                                <img class="minerva-logo" src="/minerva-school.svg" height="30" alt="minerva for school">
                            </a>
                        </p>
                    </div>
                {{/if}}
                {{#if currentUser}}
                    <div class="six columns right">
                        <p>
                            {{#if isInRole 'superAdmin'}}
                                <a href="/admin/{{currentUser._id}}" class="button button-primary">
                                    The grand master
                                </a>
                            {{/if}}
                            {{#if isInRole 'admin'}}
                                <a href="/admin/{{currentUser._id}}" class="button button-primary">
                                    {{#if usrImageExists}}
                                        {{#with FS.GetFile "userImage" usrImage}}
                                            <div class="teacher-profile" style="background-image: url({{url}});"></div>
                                        {{/with}}
                                    {{/if}}
                                    school admin
                                </a>
                            {{/if}}
                            {{#if isInRole 'teacher'}}
                            <a href="/teacher/{{currentUser._id}}" class="button button-primary">
                                {{#if usrImageExists}}
                                    {{#with FS.GetFile "userImage" usrImage}}
                                        <div class="teacher-profile" style="background-image: url({{url}});"></div>
                                    {{/with}}
                                {{/if}}
                                {{thisUser.username}}
                            </a>
                            {{/if}}
                            <a class="logout button button-primary">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                            </a>
                        </p>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</template>
