<template name="Header">

    <header>
        <nav class="nav-extended">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Gestão de Membros</a>
                <a href="/" data-activates="mobile-demo" class="button-collapse">
                    <i class="material-icons">menu</i>
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a href="/">
                            <i class="material-icons right">home</i>
                            <span class="hidden-sm-down">Pagina Inicial</span>
                        </a>
                    </li>

                    <li>
                        <a href="/accounts">
                            <i class="material-icons right">account_circle</i>
                            <span class="hidden-sm-down">Membros</span>
                        </a>
                    </li>
                    <li>{{> loginButtons}}</li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li>
                        <a href="/">
                            <i class="material-icons right">home</i>
                            <span class="hidden-sm-down">Pagina Inicial</span>
                        </a>
                    </li>
                    <li>
                        <a href="/accounts">
                            <i class="material-icons right">account_circle</i>
                            <span class="hidden-sm-down">Membros</span>
                        </a>
                    </li>
                    <li>{{> loginButtons}}</li>

                </ul>
            </div>


            <div class="nav-content">
                <ul class="tabs tabs-transparent">
                    <li class="tab">
                        <a href="/settings">Definições</a>
                    </li>
                    <li class="tab">
                        <a class="active" href="#test2">Relatórios</a>
                    </li>
                    <li class="tab">
                        <a href="/qoutas">Cotas</a>
                    </li>
                    <li class="tab">
                        <a href="/invoices">Pagamentos</a>
                    </li>
                    <li class="tab">
                        <a href="#test4">Suporte</a>
                    </li>

                </ul>

            </div>
        </nav>
    </header>



</template>

<template name="Header_OLD">

    <header>
        <nav role="navigation">

            <div class="nav-wrapper container">

                <a id="logo-container" href="#" class="brand-logo">SISSA</a>

                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="sass.html">
                            <i class="material-icons">search</i>
                        </a>
                    </li>
                    <li>
                        <a href="badges.html">
                            <i class="material-icons">view_module</i>
                        </a>
                    </li>
                    <li>
                        <a href="collapsible.html">
                            <i class="material-icons">refresh</i>
                        </a>
                    </li>
                    <li>
                        <a href="mobile.html">
                            <i class="material-icons">more_vert</i>
                        </a>
                    </li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li>
                        {{> loginButtons}}
                    </li>
                </ul>

                <ul id="nav-mobile" class="sidenav" style="transform: translateX(-105%);">
                    <li>
                        <a href="#">Navbar Link</a>
                    </li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
            </div>
        </nav>
    </header>
</template>

<template name="Header_AA">

    <header>
        <nav class="white" role="navigation">

            <div class="nav-wrapper container">
                <a id="logo-container" href="/" class="brand-logo">SISSA</a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        {{> loginButtons}}
                    </li>
                </ul>

                <ul id="nav-mobile" class="sidenav" style="transform: translateX(-105%);">
                    <li>
                        <a href="#">Navbar Link</a>
                    </li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
            </div>
        </nav>
    </header>
</template>


<template name="Header_FRE">

    <header>
        <nav class="nav-extended">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">AGNUS CRM</a>
                <a href="/" data-activates="mobile-demo" class="button-collapse">
                    <i class="material-icons">menu</i>
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a href="/">
                            <i class="material-icons right">home</i>
                            <span class="hidden-sm-down">Home</span>
                        </a>
                    </li>

                    <li>
                        <a href="/accounts">
                            <i class="material-icons right">account_circle</i>
                            <span class="hidden-sm-down">Accounts</span>
                        </a>
                    </li>
                    <li>
                        <a href="/customers">
                            <i class="material-icons right">group</i>
                            <span class="hidden-sm-down">Customers</span>
                        </a>
                    </li>
                    <li>{{> loginButtons}}</li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li>
                        <a href="/">
                            <i class="material-icons right">home</i>
                            <span class="hidden-sm-down">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="/accounts">
                            <i class="material-icons right">account_circle</i>
                            <span class="hidden-sm-down">Accounts</span>
                        </a>
                    </li>
                    <li>
                        <a href="/customers">
                            <i class="material-icons right">group</i>
                            <span class="hidden-sm-down">Customers</span>
                        </a>
                    </li>
                    <li>{{> loginButtons}}</li>

                </ul>
            </div>


            <div class="nav-content">
                <ul class="tabs tabs-transparent">
                    <li class="tab">
                        <a href="/settings">Settings</a>
                    </li>
                    <li class="tab">
                        <a class="active" href="#test2">Reports</a>
                    </li>
                    <li class="tab">
                        <a href="/qoutas">Qoutas</a>
                    </li>
                    <li class="tab">
                        <a href="/invoices">invoices</a>
                    </li>
                    <li class="tab">
                        <a href="#test4">Suport US</a>
                    </li>

                </ul>

            </div>
        </nav>
    </header>
</template>