<template name="SideNav">
    <ul id="slide-out" class="side-nav">
        <li class="search">
            <div class="search-wrapper card">
                <input id="search"><i class="material-icons">search</i>
                <div class="search-results"></div>
            </div>
        </li>

        <li><a href="/"><i class="material-icons right">home</i> <span class="hidden-sm-down">Home</span> </a></li>
        <li><a href="/products"><i class="material-icons right">local_parking</i> <span class="hidden-sm-down">Product</span></a></li>
        <li><a href="/accounts"><i class="material-icons right">account_circle</i> <span class="hidden-sm-down">Accounts</span></a></li>
        
         
    </ul>
    

</template>