/* 
.container {
  padding-right: auto; 
  padding-left: auto; 
  width: auto;
}

body {
 line-height: 1.5;
 font-family: Roboto, sans-serif;
 font-weight: normal;
 color: rgba(0, 0, 0, 0.87);
}

.fixed-announcement {
 position: relative;
 height: 48px;
 width: 100%;
 z-index: 999;
}

.fixed-announcement .announcement {
 position: absolute;
 height: inherit;
 width: inherit;
 background-color: rgb(92, 87, 87);
}

.nav-wrapper{
 background: #524763;
}

header a:focus, a:hover {
 color:white;
 text-decoration: none;
}

nav.nav-extended {
 background: #524763;
}

page-footer {
  padding-top: 20px;
  color: none;
  background-color: #ee6e73;
} */