<template name="login">
    <form class="login-form form-width">
        <h1>Login to your account</h1>
        <p>login and access school information.</p>
        <hr>
        <label for="email">Your email</label>
        <input class="u-full-width email" type="email" placeholder="your@email.com" name="email" id="email">
        <label for="email">Your password</label>
        <input class="u-full-width password" type="password" placeholder="password" name="password" id="password">
        <button class="u-full-width login button-primary" type="submit">login</button>
        <!-- <p>
            <a href="/forgot-password">forgot your password?</a>
        </p> -->
        <p>
            <a href="/register"> register as a teacher</a>
        </p>
    </form>
</template>
